# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.DS_STORE
Thumbs.db
.idea
.vscode

# Dependencies
node_modules

# Compiled files
scripts


resources/images/ws-presenters/__full-size__/
resources/images/ws-presenters/__originals__/