ul.cec-style-list > li[country] {
  padding-left: 3.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-position-y: 50%;
}

ul.cec-style-list > li[country] > a {
  color: inherit;
}

#anthem-media-line {
  margin-top:20px;
}

#anthem-media-line > div {
  border: 1px solid #ddd;
  display: inline-flex;
  vertical-align: middle;
}

#anthem-media-line > button {
  margin-left: 20px;
  vertical-align: middle;
  background:none;
  border: 1px rgb(203,33,42) solid;
  font-family: robotoBold;
  color: rgb(203,33,42);
  padding:10px;
}

#anthem-lyrics {
  padding-top:25px;
}

#anthem-lyrics > p {
  width: fit-content;
}

#anthem-lyrics .chorus {
  margin-left: 20px;
}

#anthem-lyrics .anthem-title {
  font-family: robotoBold;
  margin-bottom:15px;
}

.iaeste-stats-container {
  margin-bottom: 30px;
}

.iaeste-stats-container i.fa {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: table;
  color:#cb212a;
}

.iaeste-stats-container i.fa-users {
  color: #cb212a;
}

.iaeste-stats-container i.fa-handshake-o {
  color: #ab1d2a;
}

.iaeste-stats-container i.fa-graduation-cap {
  color: #7c172b;
}

.iaeste-stats-container i.fa-globe {
  color: #4d122b;
}

.iaeste-stats {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.iaeste-stats > span {
  font-family: robotoBold;
  font-size: 22px;
}

#iaeste-poland-logo {
  align-items: center;
  display: inline-grid;
}

#iaeste-poland-logo img {
  width:100%;
  padding:30px;
}

@media (min-width:992px) {
  #iaeste-poland-logo {
    height:410px;
  }
}

@media (max-width:991px) {
  #iaeste-poland-logo img {
    padding-bottom:50px;
  }

  #iaeste-poland-logo {
    height:100%;
  }
}

.content-container #iaeste-poland-link,
.content-container #iaeste-poland-link:focus {
  color:inherit;
  text-decoration: none;
  outline: none;
}