.page-content .transport-nav li a {
  font-size: 20px;
  color: #999;
}


.page-content .transport-nav li.active a {
  color: #333;
}

.page-content .transport-nav li a:hover {
  background-color: rgba(255,255,255,0.1);
}

.page-content .transport-nav li.active .title {
  font-family: robotoBold;
}

.page-content .transport-nav li.active a:hover {
  background-color: white;
}

.transport-content {
  margin-top:25px;
}

.transport-nav i.fa {
  margin-right:7px;
}