@font-face {
  font-family: robotoLight;
  src: url('resources/fonts/roboto-light.ttf');
}

@font-face {
  font-family: robotoBold;
  src: url('resources/fonts/roboto-bold.ttf');
}

html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: robotoLight;
  color: #555;
  font-size: 16px;
}

body {
  /* background-color: #cb212a; */
  /* background-image: url('images/slogan-pattern.png'); */
  
  background: rgba(203,33,42,1);
  background: -moz-linear-gradient(top, rgba(203,33,42,1) 0%, rgba(45,14,43,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,33,42,1)), color-stop(100%, rgba(45,14,43,1)));
  background: -webkit-linear-gradient(top, rgba(203,33,42,1) 0%, rgba(45,14,43,1) 100%);
  background: -o-linear-gradient(top, rgba(203,33,42,1) 0%, rgba(45,14,43,1) 100%);
  background: -ms-linear-gradient(top, rgba(203,33,42,1) 0%, rgba(45,14,43,1) 100%);
  background: linear-gradient(to bottom, rgba(203,33,42,1) 0%, rgba(45,14,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb212a', endColorstr='#2d0e2b', GradientType=0 );
  
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-family: robotoBold;
}

.page-content {
  width: 100%;
  padding-bottom: 20px;
}

h1 {
  margin-bottom: 35px;
}

ul.cec-style-list {
  padding:0;
}

ul.cec-style-list > li {
  list-style: none;
  padding: 0.1em 0 0.1em 2em;
  background-position: 1em 0.55em;
  list-style:none;
  background-repeat:no-repeat;
  background-image:url('resources/images/bullet.png');
}

.content-container {
  background: white;
  margin-bottom:20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  overflow: hidden;
}

.content-container:last-child {
  margin-bottom: 0;
}

.content-container .container h1 {
  margin-left: 40px;
}

.content-container .container h1::before {
  content:'';
  background:url('resources/images/flower.png');
  height: 37px;
  width: 28px;
  margin-left: -40px;
  position:absolute;
  background-repeat: no-repeat;
}

@media (min-width:768px) {
  .content-container {
    /* border-radius: 10px; */
    width: 100% - 40px;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

@media (max-width:767px) {
  .content-container {
    /* border-radius: 70px; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.registration-form {
  width: 100%;
  height: 1420px;
}

@media (max-width:991px) {
  .right-column {
    padding-right: 0;
    padding-left: 0;
  }  
}

.right-column > * {
  overflow: hidden;
  width: 100%;
}

@media (min-width:992px) {
  .right-column > * {
    margin: -50px 0px -60px 0px;
  }
}

@media (max-width:991px) {
  .right-column > * {
    margin: 40px 0px -60px 0px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
}