.europe-map-container {
  overflow: hidden;
  width: 100%;
}

/*initial size: width:1140px; height: 711px*/
.europe-map-container > #europe-map {
  position: relative;
  width: 2100px;
  height: 1310px;
}

@media (min-width:992px) {
  .europe-map-container {
    margin: -50px 0px -60px 0px;
    height: 748px;
  }

  .europe-map-container > #europe-map {
    top: -420px;
  }
}

@media (max-width:991px) {
  .europe-map-container {
    margin: 40px 0px -60px 0px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    height: 550px;
  }

  .europe-map-container > #europe-map {
    top: -510px;
  }
}

@media (min-width:1200px) {
  .europe-map-container > #europe-map {
    left: -900px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .europe-map-container > #europe-map {
    left: -950px;
  }
}

@media (min-width:680px) and (max-width:991px) {
  .europe-map-container > #europe-map {
    left: -810px;
  }
}

@media (min-width:550px) and (max-width:679px) {
  .europe-map-container > #europe-map {
    left: -860px;
  }
}

@media (min-width:465px) and (max-width:549px) {
  .europe-map-container > #europe-map {
    left: -910px;
  }
}

@media (min-width:430px) and (max-width:464px) {
  .europe-map-container > #europe-map {
    left: -960px;
  }
}

@media (min-width:365px) and (max-width:429px) {
  .europe-map-container > #europe-map {
    left: -980px;
  }
}

@media (max-width:364px) {
  .europe-map-container > #europe-map {
    left: -1000px;
  }
}