.europe-map-container {
  overflow: hidden;
  width: 400px;
  height: 500px;
  margin-left: 40px;
}

@media (min-width:992px) {
  .europe-map-container {
    margin-left: 40px;
    margin-top: 0;
  }
}

@media (max-width:991px) {
  .europe-map-container {
    margin-left: 0;
    margin-top: 40px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
}

/*initial size: width:1140px; height: 711px*/
.europe-map-container > #europe-map {
  width: 1800px;
  height: 1123px;
  position: relative;
  left: -800px;
  top: -430px;
}