.page-bottom {
  padding-bottom: 20px;
}

.page-bottom .sponsor-elem .logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sponsor-container {
  color: white;
  /* padding-bottom: 80px; */
  /* padding-top: 80px; */
  margin-bottom:0;
  background-color: #2d0e2b;
  /* background-image: url('images/slogan-pattern.png'); */
}

.sponsor-container .footer-header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  background: white;
  left: 0;
  right: 0;
}

.sponsor-container .sponsor-data,
.sponsor-container .sponsor-name,
.sponsor-container .sponsor-name:link,
.sponsor-container .sponsor-name:visited,
.sponsor-container .sponsor-name:hover,
.sponsor-container .sponsor-name:active {
  color:white;
  text-decoration: none;
  font-size: 30px;
}

.sponsor-container .sponsor-elem {
  margin-top: 80px;
  background-color: rgba(0,0,0,0);
  -moz-transition: .2s all;
  -o-transition: .2s all;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.sponsor-container .sponsor-elem:hover {
  background-color: rgba(0,0,0,0.2);
}

.sponsor-container .sponsor-name {
  margin-top: 20px;
}