.content-container.logo-container {
  display:flex;
  align-items: center;
  justify-content: center;
  background:white !important;
  padding:40px;
  z-index:20;
}

.content-container.logo-container img {
  width:400px;
}

.content-container.description-container {
  flex-grow:1;
}

.content-container.description-container .container {
  width:90%;
}

.content-container.description-container a {
  text-decoration: none;
  display: inline;
  color:inherit;
}

.content-container.description-container a:focus {
  outline: none;
}

.content-container.description-container,
.content-container.logo-container {
  margin:0;
  overflow: visible;
}

.home-row {
  margin-top:20px;
  font-size:25px;
  vertical-align: middle;
}

@media (min-width: 924px) {
  .home-row,
  .home-row a {
    display: flex;
  }

  .content-container.logo-container#left {
    display:none;
  }

  .home-row:first-of-type {
    margin-top:102px;
  }
}

@media (max-width: 923px) {
  .home-row,
  .home-row a {
    display: block;
  }

  .content-container.logo-container#right {
    display:none;
  }

  .home-row:first-of-type {
    margin-top:70px;
  }
}


@media (min-width: 550px) and (max-width: 923px) {
  .content-container.logo-container img {
    width:400px;
  }
}

@media (max-width: 549px) {
  .content-container.logo-container img {
    width:100%;
  }

  .home-row {
    font-size:20px;
  }
}