#home-background {
  background-image: url("resources/images/home-image.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%) blur(6px) brightness(110%);
  filter: grayscale(100%) blur(6px) brightness(110%);
}

#cecc {
  position: absolute;
  top:50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width:100%;
  max-width: 640px;
  padding: 35px;
  -webkit-animation-name: sharpening;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-name: sharpening;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 1s;
  -webkit-filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
  filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
}

@-webkit-keyframes sharpening {
  from {
    -webkit-filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
    filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
  }
  to {
    -webkit-filter: opacity(100%) blur(0px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
    filter: opacity(100%) blur(0px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
  }
}

@keyframes sharpening {
  from {
    -webkit-filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
    filter: opacity(0%) blur(50px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
  }
  to {
    -webkit-filter: opacity(100%) blur(0px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
    filter: opacity(100%) blur(0px) drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
  }
}

.home-content {
  padding:0;
}

.home-content + .page-bottom {
  display: none;
}

#home-background-holder {
  background: #000;
}