.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header .navbar-brand {
  color: #cb212a;
  font-size: 18px;
  -moz-transition: .4s all;
  -o-transition: .4s all;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.navbar-default .navbar-header .navbar-brand {
  font-size: 26px;
  font-family: robotoLight;
}

.navbar-default .navbar-header .navbar-toggle {
  background:transparent;
  border:transparent;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: #cb212a;
}

.navbar, .navbar-default {
  background:white;
  border:none;
  border-bottom: 1px #cb212add solid;
  z-index:9999 !important;
  width:100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  max-height:100%;
}

@media (min-width:768px) {
  .navbar, .navbar-default {
    padding: 15px;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #cb212a;
  }

  .navbar-default .navbar-nav > li > a {
    border: 1px solid transparent;
  }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    border: 1px solid #cb212a;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    font-family: robotoBold;
    border: 1px solid #cb212a;
  }

  .navbar-brand > .navbar-logo {
    max-height:100%;
    margin-right:25px;
  }

  .navbar-brand {
    padding: 0px 15px 0px 15px;
  }

  .affix .navbar-brand > .navbar-logo {
    margin-right: 10px;
  }

  .affix .navbar-brand {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .affix .navbar-nav > li > a:hover,
  .affix .navbar-nav > li > a:focus,
  .affix .navbar-nav > .active > a,
  .affix .navbar-nav > .active > a:hover,
  .affix .navbar-nav > .active > a:focus {
    border-color: transparent;
  }
}

@media (max-width:767px) {
  .navbar, .navbar-default, .navbar-default .navbar-collapse {
    padding:0;
    border-top: none;
  }

  .navbar-default {
    border-bottom: 1px solid #cb212a;
  }

  .navbar-default .navbar-nav > li > a {
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
  }

  .navbar-default .navbar-nav > li {
    border-top: 1px solid #ffdfe1;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #cb212a;
    color:white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #cb212a;
    font-family: robotoBold;
  }

  .nav {
    width:100%;
    margin:0;
    padding:0;
  }
  
  .navbar-brand > .navbar-logo {
    max-height: 100%;
    margin-right:10px;
  }
  
  .navbar-brand {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.affix, .affix *, .affix-top, .affix-top * {
  -moz-transition: .7s all;
  -o-transition: .7s all;
  -webkit-transition: .7s all;
  transition: .7s all;
}

.affix-top {
  background-color: #ffff;
}

.affix {
  background-color: #fffe;
  padding: 0;
}

/* earlier collapsing */
/*
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}*/