.program-day-list {
  text-align: center;
}

.program-day-list li {
  display: inline-block;
  border: none;
  padding:1px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  -moz-transition: .2s all;
  -o-transition: .2s all;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.program-day-list a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
  background: #ff5c52;
  padding:20px;
  width:100%;
  height:100%;
}

.program-day-list li:hover a {
  background: rgb(229,63,62);
}

.program-day-list li.active a {
  background: #cb212a;
}

@media (min-width:992px) {
  .program-day-list li {
    width: 20%;
  }

  .program-day-list li.active {
    width: 25%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .program-day-list li {
    width: 25%;
  }

  .program-day-list li.active {
    width: 33%;
  }
}

@media (max-width:767px) {
  .program-day-list li {
    width: 80%;
  }

  .program-day-list li.active {
    width: 100%;
  }
}


.event-table {
  display: table;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.event-table tbody td:first-child {
  width: 140px;
}

.event-table tbody td {
  text-align: left;
  padding: 20px 20px;
  border-top: 1px solid #ededed;
  font-size: 16px;
  color: #666;
}

.event-table tbody .active td {
  background-color: #fa7929;
  color: white;
}