@media (min-width:768px) {
  .slogan-container {
    height: 320px;/*170px; /*320*/
  }
}

@media (max-width:767px) {
  .slogan-container {
    height: 300px;/*115px; /*300*/
  }
}

.inner-slogan-container {
  position: relative;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  top:0;
}

.inner-slogan-container-before {
  position: relative;
  top:90px;
  width:100%;
  margin: 0px 0px 15px 0px;
}

.inner-slogan-container-before .slogan-before {
  z-index:10;
  color: white;
  font-size: 80px;
  margin:0;
}

.inner-slogan-container .slogan {
  bottom:0;
  right:0;
  position:absolute;
  z-index:10;
  color: white;
  font-size: 80px;
  margin: 0;
}

.slogan-container {
  padding-bottom:0;
  margin-bottom:0;
  /* background-color: #cb212a;
  background-image: url('images/slogan-pattern.png'); */
  width: 100%;
}

.building-shape {
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  width:100%;
  height:100%;
  bottom: -1px;
  background-position-y: bottom;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  max-height: 220px;
}

.inner-slogan-container-before,
.inner-slogan-container-before .slogan-before {
  display: none;
}

@media (max-width:767px) {
  .inner-slogan-container {
    padding-left: 0;
    padding-right: 0;
  }

  .building-shape {
    width: 90%;
    background-position-x: center;
  }

  .inner-slogan-container .slogan {
    display: none;
  }

  .inner-slogan-container-before,
  .inner-slogan-container-before .slogan-before {
    display: block;
  }
}

.building-container {
  height: 100%;
  padding: 0;
}

@media (min-width:400px) and (max-width:590px) {
  .inner-slogan-container-before .slogan-before {
    font-size: 60px;
  }
}

@media (max-width:399px) {
  .inner-slogan-container-before .slogan-before {
    font-size: 40px;
  }
}