.ws-box-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:0;
}

.ws-box-container::before {
    content:none;
}

.ws-box-container .ws-box {
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom:30px;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    -webkit-transition: .4s all;
    transition: .4s all;
    filter: grayscale(84%);
    color: white;
    cursor: pointer;
    padding-left: 8%;
    padding-right: 8%;
}

.ws-box-container .ws-box:hover {
    filter: grayscale(0);
}

@media (min-width:1200px) {
    .ws-box-container .ws-box {
        width: 575px;
        height: 460px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .ws-box-container .ws-box {
        width: 475px;
        height: 380px;
    }
}

@media (max-width:991px) {
    .ws-box-container .ws-box {
        width: 100%;
        padding-top:40%;
    }

    .ws-box-container .ws-box.active {
        padding-top:60px;
    }

    .workshop-section.container-fluid {
        padding-left:0;
        padding-right:0;
    }
}

.ws-box-container .ws-box.active {
    width:100%;
    height:auto;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    -webkit-transition: .4s all;
    transition: .4s all;
    filter: grayscale(0);
    cursor: initial;
}

.ws-box-container .ws-box .ws-title-bottom {
    font-family: robotoBold;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    text-align: center;
}

.ws-box-container .ws-box .ws-presenter-bottom {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
    text-align:center;
}

.ws-box-container .ws-box.active .ws-description {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 22px;
    text-align: justify;
}

.ws-part {
    margin:0;
}

.ws-part-container {
    padding-bottom:30px;
    padding-top:30px;
}
