.building-shape {
  background: url('images/wawel.png') no-repeat;
  margin-top: -200px;
  background-size: auto 200px;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  height:200px;
  width:100%;
}