/* @font-face {
  font-family: robotoThin;
  src: url('./src/resources/fonts/roboto-thin.ttf');
} */

@font-face {
  font-family: robotoLight;
  src: url('./src/resources/fonts/roboto-light.ttf');
}

@font-face {
  font-family: robotoBold;
  src: url('./src/resources/fonts/roboto-bold.ttf');
}

html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: robotoLight;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header .navbar-brand {
  color: #ed2123;
  font-size: 18px;
}

.navbar-default .navbar-header .navbar-brand {
  font-size: 26px;
  font-family: robotoLight;
}

.navbar-default .navbar-header .navbar-toggle {
  background:transparent;
  border:transparent;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar, .navbar-default {
  background:white;
  border:none;
  z-index:9999 !important;
  position:absolute;
  width:100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

@media (min-width:768px) {
  .navbar, .navbar-default {
    padding: 15px;
  }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #ed2123;
    border: 1px solid transparent;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a:hover {
    border-color: #ed2123;
    color: #ed2123;
  }
  
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    font-family: robotoBold;
  }

  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #ed2123;
  }

  .slogan-container {
    height: 320px;
  }

  .navbar-brand > .navbar-logo {
    width: 90px;
    margin-right:25px;
  }
}

@media (max-width:767px) {
  .navbar, .navbar-default, .navbar-collapse {
    padding:0;
  }

  .navbar-default .navbar-nav > li > a {
    background-color: #0e4468;
    padding-top:15px;
    padding-bottom:15px;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #156193;
    color:white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color:#0e4468;
    background-color: white;
    font-family: robotoBold;
  }

  .nav {
    width:100%;
    margin:0;
    padding:0;
  }

  .slogan-container {
    height: 300px;
  }

  .navbar-brand > .navbar-logo {
    max-height: 100%;
    margin-right:10px;
  }
  
  .navbar-brand {
    max-height:100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}


.inner-slogan-container {
  position: relative;
  height: 100%;
}

.inner-slogan-container .slogan {
  bottom:0;
  right:0;
  position:absolute;
  z-index:10;
  color: white;
  font-size: 80px;
  margin: 0;
}

@media (max-width:767px) {
  .jumbotron .slogan {
    transform: translate(-50%,-150%);
    font-size: 40px;
  }

  .jumbotron .slogan::after {
    height: 2px;
  }
}

.slogan-container {
  padding-bottom:0;
  margin-bottom:0;
  background-color: #ed2123;
  background-image: url('images/slogan-pattern.png');
  width: 100%;
}

.page-content {
  padding-top: 80px;
  width: 100%;
}

.border-right-top {
  background: url('images/border-right-top.png') no-repeat;
  margin-bottom:-60px;
}

.border-left-bottom {
  background: url('images/border-left-bottom.png') no-repeat;
  margin-top: -60px;
}

.building-shape {
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  height:200px;
  width:100%;
  bottom: 0;
}

.border-left-bottom, .border-right-top {
  background-size: 100% 60px;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  height:60px;
  width:100%;
}

.page-bottom .sponsor-elem .logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  color: white;
  padding-bottom:0;
  margin-bottom:0;
  background-color: #505050;
  background-image: url('images/slogan-pattern.png');
  width:100%;
}

.footer-container .footer-header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  background: white;
  left: 0;
  right: 0;
}

.footer-container {
  padding-top: 80px;
}

.footer-container .sponsor-data,
.footer-container .sponsor-name,
.footer-container .sponsor-name:link,
.footer-container .sponsor-name:visited,
.footer-container .sponsor-name:hover,
.footer-container .sponsor-name:active {
  color:white;
  text-decoration: none;
  font-size: 30px;
}

.footer-container .sponsor-elem {
  margin-top: 80px;
}

.footer-container .sponsor-name {
  margin-top: 20px;
}

.break-background {
  padding-bottom:0;
  margin-bottom:0;
  background-image: url('images/slogan-pattern.png');
  width: 100%;
  height: 100px;
}

.page-break-top {
  margin-top: 50px;
}

.page-break-bottom {
  margin-bottom: 50px;
}

.page-break-flipped .border-left-bottom,
.page-break-flipped .border-right-top {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.page-content h1 {
  margin-bottom: 35px;
}